@model TDH.Areas.Administrator.Models.AboutModel
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">Giới thiệu</h3>
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("about", "admpost", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "OnFailure", OnBegin = "beginSubmit" }, new { @id = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.Insert)
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    Nội dung
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @tabindex = "1" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    Ảnh minh họa <span style="color:red; font-weight:bold;">*</span>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="row form-group">
                        <div class="col-md-12 col-xs-12">
                            <a href="javascript:;" id="selectImg" tabindex="2">Chọn ảnh (390x374)</a>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-xs-12">
                            @Html.HiddenFor(m => m.Image)
                            <div style="width:390px; height:auto; padding:10px;">
                                <img id="imgImage" src="@Model.Image" width="195" height="189" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    [SEO] Tiêu đề <span style="color:red; font-weight:bold;">*</span>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    @Html.TextBoxFor(m => m.MetaTitle, new { @class = "form-control", @maxlength = 100, @required = true, @tabindex = "3" })
                    @Html.ValidationMessageFor(m => m.MetaTitle)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    [SEO] Mô tả <span style="color:red; font-weight:bold;">*</span>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control", @rows = 2, @required = true, @maxlength = 160, @tabindex = "4" })
                    @Html.ValidationMessageFor(m => m.MetaDescription)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    [SEO] Từ khóa <span style="color:red; font-weight:bold;">*</span>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "form-control", @maxlength = 250, @required = true, @tabindex = "5" })
                    @Html.ValidationMessageFor(m => m.MetaKeywords)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    [SEO] Trang kế
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    @Html.TextBoxFor(m => m.MetaNext, new { @class = "form-control", @maxlength = 170, @tabindex = "6" })
                    @Html.ValidationMessageFor(m => m.MetaNext)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    [SEO] Site name
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    @Html.TextBoxFor(m => m.MetaOgSiteName, new { @class = "form-control", @maxlength = 100, @tabindex = "7" })
                    @Html.ValidationMessageFor(m => m.MetaOgSiteName)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    [SEO] Ảnh minh họa <span style="color:red; font-weight:bold;">*</span>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row form-group">
                                <div class="col-md-12 col-xs-12">
                                    <a href="javascript:;" id="selectImgG" tabindex="8">Chọn ảnh G+/Facebook (1200 x 630)</a>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12 col-xs-12">
                                    @Html.HiddenFor(m => m.MetaOgImage)
                                    <div class="row" style="padding:10px;">
                                        <img id="imgMetaOgImage" src="@Model.MetaOgImage" width="300" height="160" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row form-group">
                                <div class="col-md-12 col-xs-12">
                                    <a href="javascript:;" id="selectImgTwitter" tabindex="9">Chọn ảnh Twitter (1200 x 630)</a>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12 col-xs-12">
                                    @Html.HiddenFor(m => m.MetaTwitterImage)
                                    <div class="row" style="padding:10px;">
                                        <img id="imgMetaTwitterImage" src="@Model.MetaTwitterImage" width="300" height="160" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    [SEO] Article
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    @Html.TextBoxFor(m => m.MetaArticleName, new { @class = "form-control", @maxlength = 200, @tabindex = "10" })
                    @Html.ValidationMessageFor(m => m.MetaArticleName)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    [SEO] Section
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    @Html.TextBoxFor(m => m.MetaArticleSection, new { @class = "form-control", @maxlength = 200, @tabindex = "11" })
                    @Html.ValidationMessageFor(m => m.MetaArticleSection)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                    [SEO] Tags
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    @Html.TextBoxFor(m => m.MetaArticleTag, new { @class = "form-control", @maxlength = 255, @tabindex = "12" })
                    @Html.ValidationMessageFor(m => m.MetaArticleTag)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-sm-4 col-xs-12">
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <button type="submit" id="submitForm" class="btn btn-primary" tabindex="13">Lưu</button>
                </div>
            </div>
        }
    </div>
</div>
<script src="/Areas/Administrator/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="~/Areas/Administrator/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Areas/Administrator/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/Areas/Administrator/Content/ckeditor/ckeditor.js"></script>
<script src="/Areas/Administrator/Content/ckfinder/ckfinder.js"></script>
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="/Areas/Administrator/Content/custom/admpost.about.action.js"></script>
