@using TDH.Areas.Personal.Utils;
@{
    ViewBag.Title = Message.Cetificate.LIST;
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
@section header{
    <link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.css">
    <link href="/Areas/Administrator/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.custom.css">
}
@Html.Action("modulenavigation", "base", new { @area = "administrator", @moduleCode = "user_info" })
<input type="hidden" id="edit" value="@Html.Raw(ViewBag.Edit)" />
<input type="hidden" id="delete" value="@Html.Raw(ViewBag.Delete)" />
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">@Message.Cetificate.LIST</h3>
        <div class="card-tools pull-right">
            @{
                if (ViewBag.Add == true)
                {
                    <a class="btn btn-box-tool" title="@Message.Cetificate.CREATE" href="/personal/pncetificate/create">
                        <i class="fa fa-plus"></i>
                    </a>
                }
            }
        </div>
    </div>
    <div class="card-body">
        <table id="tbList" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên chứng chỉ</th>
                    <th>Trường</th>
                    <th>Thời gian</th>
                    <th>Thứ tự</th>
                    <th>#</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@Html.Partial("~/Areas/Administrator/Views/Shared/_DeleteModal.cshtml")
@section script {
    <script src="/Areas/Administrator/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="/Areas/Administrator/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Areas/Administrator/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/Areas/Personal/Content/Cetificate/index.js"></script>>
}

