@using TDH.Model.ViewModel.WebSite;
@model PostViewModel
@{
    ViewBag.Title = Model.MetaTitle + " | Trần Đình Hưng";
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
    ViewBag.Url = ViewBag.Url;
    ViewBag.OgImage = Model.MetaOgImage;
    ViewBag.TwImage = Model.MetaTwitterImage;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mag-inner">
    <div class="col-md-8 mag-innert-left">
        @Html.Raw(Model.Content)
    </div>
    <div class="col-md-4 mag-inner-right">
        @Html.Action("ConnectedToMe", "Home")
        @Html.Action("NewsLetter", "Home")
        @Html.Action("LastedNews", "Home")
        @Html.Action("TopView", "Home")
    </div>
    <div class="clearfix"></div>
</div>
