@using Utils;
@using TDH.ViewModel;
@model IEnumerable<PostViewModel>
@{
    CategoryViewModel _cate = ViewBag.cateInfo as CategoryViewModel;
    ViewBag.Title = _cate.MetaTitle;
    ViewBag.Description = _cate.MetaDescription;
    ViewBag.Keywords = _cate.MetaKeywords;
    ViewBag.Url = ViewBag.Url;
    ViewBag.OgImage = _cate.MetaOgImage;
    ViewBag.TwImage = _cate.MetaTwitterImage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int _count = 0;
    string _lost = "";
}

<div class="mag-inner">
    <div class="col-md-8 mag-innert-left">
        <div class="latest-articles">
            <h3 class="tittle"><a href="@_cate.Alias">@_cate.Title</a></h3>
            @foreach (var item in Model)
            {
                if(_count == 0)
                {
                    @Html.Raw("<div class='world-news-grids'>");
                }
                _lost = "";
                if (_count == 2)
                {
                    _lost = "lost";
                }
                <div class="world-news-grid @_lost">
                    <img src="@item.Image" alt="@item.Title" />
                    <a href="@item.Alias" class="wd">@item.Title</a>
                    <p>@item.Description</p>
                    <a class="read" href="@item.Alias">Xem thêm</a>
                </div>
                if (_count == 2)
                {
                    @Html.Raw("<div class='clearfix'></div></div>");
                }
                _count++;
                if(_count == 3)
                {
                    _count = 0;
                }
            }
            @if (_count == 1)
            {
                @Html.Raw("<div class='clearfix'></div></div>");
            }
        </div>
    </div>
    <div class="col-md-4 mag-inner-right">
        @Html.Action("ConnectedToMe", "Home")
        @Html.Action("NewsLetter", "Home")
        @Html.Action("LastedNews", "Home")
        @Html.Action("TopView", "Home")
    </div>
    <div class="clearfix"></div>
</div>
