@using TDH.Model.ViewModel.WebSite;
@model NavigationViewModel
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
    ViewBag.Url = ViewBag.Url;
    ViewBag.OgImage = Model.MetaOgImage;
    ViewBag.TwImage = Model.MetaTwitterImage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listPost = ViewBag.post as List<PostViewModel>;
}
<style>
    a.title {
        color: #555;
    }
    .pd-5 {
        padding: 5px;
    }
    .pd-5 img {
        width: 100%;
        height: auto;
    }
    .mag-innert-left {
        background-color: #fff;
        padding-top: unset;
        border: none;
    }
</style>
<div class="mag-inner">
    <div class="col-md-8 mag-innert-left">
        <div class="row">
            <h3 class="tittle"><a href="javascript:;">Bài viết mới</a></h3>
        </div>
        <div class="row">
            @{
                foreach (var item in listPost)
                {
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-4 pd-5">
                                <img src="@item.Image" class="lazy" alt="@item.Title" title="@item.Title" />
                            </div>
                            <div class="col-md-9 col-sm-8 col-xs-8">
                                <a href="@item.Alias" class="title">@item.Title</a>
                                <p style="color: #E6E5E5;">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                    &nbsp;
                                    <a href="@item.CategoryAlias" style="color:#B5B5B5;">@item.CategoryTitle</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-md-4 mag-inner-right">
        @Html.Action("ProgrammingCategoryPartialView", "Post", new { @navAlias = Model.Alias })
        @Html.Action("ProgrammingPopularView", "Post", new { @navAlias = Model.Alias })
    </div>
    <div class="clearfix"></div>
</div>


