<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi" xml:lang="vi">
<head>
    @{
        var domain = "http://trandinhhung.com";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="&#64;dinhhung09138">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:description" content="@ViewBag.Description">
    <meta name="twitter:creator" content="Trần Đình Hưng">
    <meta name="twitter:image" content="@domain@ViewBag.TwImage">
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@ViewBag.Url" />
    <meta property="og:image" content="@domain@ViewBag.OgImage" />
    <meta property="og:description" content="@ViewBag.Description" />
    <link href="/trandinhhung.ico" rel="shortcut icon" type="image/x-icon" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/Content/css/bootstrap-3.1.1.min.css" rel="stylesheet" type="text/css">
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T57XZ46');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T57XZ46"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @Html.Action("Navigation", "Home")
    @Html.Action("Banner", "Home")
    <div class="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div class="footer-section">
        <div class="container">
            <div class="footer-grids">
                @Html.Action("FooterPostByNavigation", "Home")
                @Html.Action("PopuplarCategory", "Home")
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy;2018 <a href="/"> Trần Đình Hưng</a><a href="http://w3layouts.com/" rel="nofollow" target="_blank" style="opacity: 0;">W3layouts</a> </p>
    </div>
    <script src="/Content/js/jquery.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#contentData p').attr('class', 'text');
            var img = $('#contentData').find('img');
            if (img.length > 0) {
                img.each(function () {
                    $(this).attr('style', 'width: 100%; height: auto;').attr('class', 'lazy');
                });
            }
        });
        document.addEventListener("DOMContentLoaded", function () {
            let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
            let active = false;

            const lazyLoad = function () {
                if (active === false) {
                    active = true;

                    setTimeout(function () {
                        lazyImages.forEach(function (lazyImage) {
                            if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
                                lazyImage.src = lazyImage.dataset.src;
                                lazyImage.srcset = lazyImage.dataset.srcset;
                                lazyImage.classList.remove("lazy");

                                lazyImages = lazyImages.filter(function (image) {
                                    return image !== lazyImage;
                                });

                                if (lazyImages.length === 0) {
                                    document.removeEventListener("scroll", lazyLoad);
                                    window.removeEventListener("resize", lazyLoad);
                                    window.removeEventListener("orientationchange", lazyLoad);
                                }
                            }
                        });

                        active = false;
                    }, 200);
                }
            };
            document.addEventListener("scroll", lazyLoad);
            window.addEventListener("resize", lazyLoad);
            window.addEventListener("orientationchange", lazyLoad);
        });
    </script>
</body>
</html>

