<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Areas/Administrator/Content/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/Areas/Administrator/Content/dist/css/adminlte.min.css">
    <link href="/Areas/Administrator/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <link href="/Areas/Administrator/Content/vendors/lobibox/dist/css/lobibox.min.css" rel="stylesheet" />
    <link href="/Areas/Administrator/Content/plugins/waitMe/waitMe.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="/trandinhhung.ico" rel="shortcut icon" type="image/x-icon" />
    @RenderSection("header", required: false)
    <style>
        .navbar-expand .navbar-nav .dropdown-menu {
            background-color: #359746;
            color: black;
        }
        .navbar-expand .navbar-nav .dropdown-menu .text-muted {
            color: white !important;
        }
        .dropdown-menu-lg .dropdown-item:hover {
            background-color: #ffc107;
        }
        .dropdown-footer, .dropdown-header {
            color: white;
            font-weight: bold;
        }
        body {
            font-size: 13px !important;
            font-family: sans-serif;
        }
        .field-validation-error {
            color: red;
        }
        .form-control, .btn {
            padding: .2rem .5rem;
        }
        .main-header .nav-link {
            height: unset;
        }
        .brand-link {
            padding: .68rem .2rem;
        }
        .content-header {
            padding: 5px 15px 0px 7px;
        }
        .card-body {
            padding: .5rem;
        }
        .mgt-22 {
            margin-top: -22px;
        }
        .page-item.active .page-link {
            background-color: #359746;
            border-color: #359746;
        }
        a {
            color: #359746;
        }
        a:hover {
            color: #0d7283;
        }
        .btn-primary {
            background-color: #359746;
            border-color: #359746;
            box-shadow: 0 1px 1px rgba(0,0,0,.075);
        }
        .btn-primary:hover, 
        .btn-primary:focus {
            border-color: #0d7283;
            background-color: #0d7283;
        }
        .nav-sidebar .nav-item > .nav-link {
            margin-bottom: 2px;
        }
        .nav-sidebar .nav-item > .nav-link:hover {
            color: #0d7283;
        }
        .sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before {
            width: 5.6rem;
        }
        .elevation-4 {
            box-shadow: unset;
        }
        .form-control {
            border-radius: unset;
            box-shadow: unset;
            transition: unset;
        }
        .btn{
            border-radius: unset;
        }
        .callout, .elevation-1, .sidebar-dark-danger .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-dark .nav-sidebar > .nav-item > .nav-link.active, 
        .sidebar-dark-info .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-light .nav-sidebar > .nav-item > .nav-link.active, 
        .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-secondary .nav-sidebar > .nav-item > .nav-link.active, 
        .sidebar-dark-success .nav-sidebar > .nav-item > .nav-link.active, .sidebar-dark-warning .nav-sidebar > .nav-item > .nav-link.active, 
        .sidebar-light-danger .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-dark .nav-sidebar > .nav-item > .nav-link.active, 
        .sidebar-light-info .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-light .nav-sidebar > .nav-item > .nav-link.active, 
        .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-secondary .nav-sidebar > .nav-item > .nav-link.active, 
        .sidebar-light-success .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-warning .nav-sidebar > .nav-item > .nav-link.active {
            box-shadow: none;
        }
        .modal-header {
            display: block;
        }
        .no-bg {
            background-color: unset !important;
        }
        .no-bg .card-title {
            color: #359746 !important;
            font-weight:bold;
            border-bottom: #359746 solid 1px;
            padding-bottom: 7px;
        }
        a.btn-box-tool {
            color: rgba(255,255,255, 1) !important;
            background-color: #359746 !important;
        }
        a.btn-box-tool:hover, a.btn-box-tool:active {
            background-color: #0D7283 !important;
        }
        .nav-sidebar > .nav-item .nav-icon {
            color: #359746;
        }
        .page-link {
            color: #359746;
        }
        #formMain{
            min-height: 500px;
        }
        .modal-content {
            border: unset;
            border-radius: 0rem;
            box-shadow: none !important;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @Html.Action("AdminNavigation", "Base", new { @area = "administrator" })
        @Html.Action("AdminSidebar", "Base", new { @area = "administrator" })
        <div class="content-wrapper">
            <input type="hidden" id="message" value="@ViewBag.message" />
            <input type="hidden" id="messageType" value="@ViewBag.messageType" />
            <section class="content">
                <div class="container-fluid" id="formMain">
                </div>
            </section>
            @RenderBody()
        </div>
        @{Html.RenderAction("AdminFooter", "Base", new { @area = "administrator" }); }
    </div>    
  
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Areas/Administrator/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Areas/Administrator/Content/plugins/fastclick/fastclick.js"></script>
    <script src="/Areas/Administrator/Content/vendors/iCheck/icheck.min.js"></script>
    <script src="/Areas/Administrator/Content/vendors/lobibox/dist/js/lobibox.min.js"></script>
    <script src="/Areas/Administrator/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="/Areas/Administrator/Content/dist/js/adminlte.min.js"></script>
    <script src="/Areas/Administrator/Content/plugins/waitMe/waitMe.min.js"></script>
    @section scripts {
    }
    <script type="text/javascript">
        var language = {
            lengthMenu: 'Hiển thị _MENU_',
            zeroRecords: 'Dữ liệu không tồn tại',
            info: 'Trang _PAGE_/_PAGES_',
            infoEmpty: 'Không tìm thấy kết quả',
            infoFiltered: '(Tìm kiếm trên _MAX_ dòng)',
            search: 'Tìm kiếm',
            processing: 'Đang xử lý',
            paginate: {
                first: '<<',
                previous: '<',
                next: '>',
                last: '>>'
            }
        };

        function notification(mesage, type) {
            if (message === 'undefined' | message.length === 0) {
                return;
            }
            if (type.toLowerCase() === "error") {
                Lobibox.notify('error', {
                    sound: false,
                    delay: false,
                    size: 'mini',
                    icon: false,
                    position: 'bottom right',
                    msg: mesage
                });
                return;
            }
            if (type.toLowerCase() === "warning") {
                Lobibox.notify('warning', {
                    sound: false,
                    delay: false,
                    size: 'mini',
                    icon: false,
                    position: 'bottom right',
                    msg: mesage
                });
                return;
            }
            if (type.toLowerCase() === "success") {
                Lobibox.notify('success', {
                    sound: false,
                    delay: 3000,
                    size: 'mini',
                    icon: false,
                    position: 'bottom right',
                    msg: mesage
                });
                return;
            }
        }

        $(document).on('click', '.pg_ld', function (e) {
            var url = $(this).attr('data-url');
            var title = $(this).attr('data-title');
            loadPage(url, title, 'page');
        });

        function loadPage(url, title) {
            loading($('body'), 'show');
            document.title = title;
            $.ajax({
                url: url,
                type: 'get',
                contentType: 'charset=utf-8',
                dataType: 'html',
                success: function (response) {
                    $('#formMain').empty();
                    $('#formMain').append(response);
                    loading($('body'), 'hide');
                }
            });
        }

        function loading(el, type) {
            if (type === 'show') {
                el.waitMe({
                    effect: 'facebook',
                    text: '',
                    maxSize: '',
                    waitTime: -1,
                    source: 'img.svg',
                    textPos: 'vertical',
                    fontSize: '',
                    onClose: function (el) { }
                });                
            }
            else {
                el.waitMe('hide');
            }
        }
        
    </script>
    @RenderSection("script", required: false)
    @{Html.RenderPartial("_SignalR");}
</body>
</html>
