@using TDH.Model.Personal;
@using TDH.Areas.Personal.Utils;
@{
    ViewBag.Title = Message.Skill.LIST;
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
    List<SkillModel> skills = ViewBag.skills as List<SkillModel>;
}
@section header{
    <style>
        .ml-5 {
            margin-left: 5px !important;
        }

        .bg-header {
            background-color: #a77328 !important;
        }
    </style>
}
@Html.Action("modulenavigation", "base", new { @area = "administrator", @moduleCode = "user_info" })
<input type="hidden" id="edit" value="@Html.Raw(ViewBag.Edit)" />
<input type="hidden" id="delete" value="@Html.Raw(ViewBag.Delete)" />
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">@Message.Skill.LIST</h3>
        <div class="card-tools pull-right">

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Nhóm</h3>
                        <div class="card-tools">
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <input type="hidden" id="selectedGroupID" value="@ViewBag.groupID" />
                        <ul class="nav nav-pills flex-column mt-2" id="list_group_display">
                            @{
                                int _count = 0;
                                foreach (var item in Model)
                                {
                                    <li class="nav-item group_item">
                                        <a href="javascript:;" class="nav-link @(_count == 0 ? "active" : "") " data-id="@item.ID" data-name="@item.Name">
                                            <i class="fa fa-file-text-o"></i> @item.Name
                                            <span class="badge bg-warning">@item.CountSkill</span>
                                        </a>
                                    </li>
                                    _count++;
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" id="list_skill_display">
                    @{
                        foreach (var item in skills)
                        {
                            <div class="col-md-6 col-xs-12">
                                <div class="card">
                                    <div class="card-header bg-header">
                                        <h3 class="card-title">@item.Name</h3>
                                        <div class="card-tools">
                                            <span data-toggle="tooltip" title="@item.Defined.Count()" class="badge badge-primary">@item.Defined.Count()</span>
                                        </div>
                                    </div>
                                    <div class="card-body direct-chat-messages">
                                        <ul class="todo-list">
                                            @{
                                                foreach (var d in item.Defined)
                                                {
                                                    <li>
                                                        <div class="progress-group">
                                                            <span class="progress-text">@d.Name</span>
                                                            <span class="progress-number"><b>@d.Level</b>/100</span>
                                                            <a class="tools">
                                                                <i class="fa fa-edit" style="float: right;" onclick="editLevel('@d.ID', '@item.ID','@item.Name', '@d.Name', @d.Level);"></i>
                                                            </a>
                                                            <div class="progress sm">
                                                                <div class="progress-bar progress-bar-aqua" style="width: @d.Level;"></div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="skillDefinedModel" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card card-success">
                    <div class="card-header with-border no-bg">
                        <h3 class="card-title">Tiêu chí đánh giá</h3>
                        <div class="card-tools pull-right">
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="frmDefined" class="form">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    Kỹ năng
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label id="lblSkillName"></label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    Tiêu chí
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="hidden" id="hdDefinedID" value="" />
                                    <input type="hidden" id="hdSkillID" value="" />
                                    <label id="lblDefinedName"></label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    Level
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <select class="form-control" id="cbLevel">
                                        <option value="0">0</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                        <option value="50">50</option>
                                        <option value="60">60</option>
                                        <option value="70">70</option>
                                        <option value="80">80</option>
                                        <option value="90">90</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="4">Hủy</button>
                <button type="button" id="btnSaveSkillDefined" class="btn btn-primary" onclick="saveLevel();" tabindex="5">Lưu</button>
            </div>
        </div>

    </div>
</div>
@section script {
    <script src="/Areas/Administrator/Content/plugins/autoNumeric/autoNumeric.min.js"></script>
    <script src="/Areas/Administrator/Content/plugins/parsleyjs/dist/parsley.min.js"></script>
    <script src="/Areas/Personal/Content/skill/index.js"></script>
}


