@model TDH.Model.Money.AccountTypeModel
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.Insert)
<div class="row form-group">
    <div class="col-md-3 col-sm-4 col-xs-12 text-right">
        Tên TK <span style="color:red; font-weight:bold;">*</span>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @maxlength = 50, @required = true, @focus = true, @tabindex = "1" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 col-sm-4 col-xs-12 text-right">
        Loại TK <span style="color:red; font-weight:bold;">*</span>
    </div>
    <div>
        <select id="type" name="type" class="form-control" tabindex="2">
            <option value="0" selected="@Model.Type">Tiền mặt</option>
            <option value="1">Thẻ ghi nợ</option>
            <option value="2">Thẻ tín dụng</option>
            <option value="3">Tài khoản vay</option>
            <option value="4">Tài khoản cho vay</option>
            <option value="5">Tài khoản tiết kiệm</option>
        </select>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 col-sm-4 col-xs-12 text-right">
        Thứ tự <span style="color:red; font-weight:bold;">*</span>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
        @Html.TextBoxFor(m => m.Ordering, new { @class = "form-control", @maxlength = 2, @required = true, @tabindex = "3" })
        @Html.ValidationMessageFor(m => m.Ordering)
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 col-sm-4 col-xs-12 text-right">
        Hiển thị <span style="color:red; font-weight:bold;">*</span>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
        @Html.CheckBoxFor(m => m.Publish, new { @class = "form-control", @tabindex = "4" })
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3 col-sm-4 col-xs-12">
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
        @{
            if (ViewBag.Add == true || ViewBag.Edit == true)
            {
                <a href="/money/mnaccounttype/index" class="btn btn-default" tabindex="5">Quay lại</a>
                <button type="submit" id="submitForm" class="btn btn-primary" tabindex="6">Lưu</button>
            }
        }
    </div>
</div>

