@using TDH.Model;
<aside class="main-sidebar elevation-4 sidebar-light-info">
    <a href="/administrator/dashboard/index" class="brand-link bg-info">
        <img src="/Areas/Administrator/Content/images/tran-dinh-hung.jpg" alt="Mr. Hưng" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Mr.Hưng</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @{

                    <li class="nav-item has-treeview">
                        <a href="@Url.Action("CheckList","AdmCheckList")" class="nav-link">
                            <i class="nav-icon fa fa-check"></i>
                            <p>
                                CheckList
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-user-circle"></i>
                            <p>
                                CÔNG VIỆC CÁ NHÂN
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-rocket"></i>
                            <p>
                                HỆ THỐNG TỰ ĐỘNG HÓA
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="javascript:;" data-url="/administrator/erp/home/index" class="nav-link pg_ld">
                            <i class="nav-icon fa fa-university"></i>
                            <p>
                                ERP
                            </p>
                        </a>
                    </li>
                    var _listSidebar = ViewBag.sidebar as List<ModuleSideBarViewModel>;

                    if (_listSidebar.Count() > 0)
                    {
                        foreach (var item in _listSidebar)
                        {
                            if (item.functions.Count() > 0)
                            {
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fa @item.Icon"></i>
                                        <p>
                                            @item.Title
                                            <i class="right fa fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        @{
                                            string icon = "";
                                            foreach (var f in item.functions)
                                            {
                                                switch (f.Code)
                                                {
                                                    case "marketing_facebook":
                                                        icon = "fa-facebook-official";
                                                        break;
                                                    case "marketing_youtube":
                                                        icon = "fa-youtube-square";
                                                        break;
                                                    default:
                                                        icon = "fa-circle-o";
                                                        break;
                                                }
                                                <li class="nav-item">
                                                    <a href="@f.Action" class="nav-link">
                                                        <i class="fa @icon nav-icon"></i>
                                                        <p>@f.Title</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="@item.DefaultUrl" class="nav-link">
                                        <i class="nav-icon fa @item.Icon"></i>
                                        <p>@item.Title</p>
                                    </a>
                                </li>
                            }

                        }

                    }
                }
            </ul>
        </nav>
    </div>
</aside>
