@using TDH.Areas.Administrator.Models;
<aside class="main-sidebar elevation-4 sidebar-light-info">
    <a href="/administrator/dashboard/index" class="brand-link bg-info">
        <img src="/Areas/Administrator/Content/images/tran-dinh-hung.jpg" alt="Mr. Hưng" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Mr. Hưng</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/Areas/Administrator/Content/images/tran-dinh-hung.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Trần Đình Hưng</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @{
                    var _listSidebar = ViewBag.sidebar as List<SideBarViewModel>;
                    var _lSetting = _listSidebar.Where(m => m.Code.Contains("setting_")).ToList();
                    <li class="header">WEBSITE</li>
                    if (_lSetting.Count() > 0)
                    {
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-cog"></i>
                                <p>
                                    Thiết lập
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @{
                                    foreach (var item in _lSetting)
                                    {
                                        <li class="nav-item">
                                            <a href="javascript:;" data-url="/@item.Area/@item.Controller/@item.Action" data-title="Thiết lập - @item.Title" class="nav-link pg_ld">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>@item.Title</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    var _lNews = _listSidebar.Where(m => m.Code.Contains("post_")).ToList();
                    if (_lNews.Count() > 0)
                    {
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-newspaper-o"></i>
                                <p>
                                    Bài viết
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @{
                                    foreach (var item in _lNews)
                                    {
                                        <li class="nav-item">
                                            <a href="javascript:;" data-url="/@item.Area/@item.Controller/@item.Action" data-title="Bài viết - @item.Title" class="nav-link pg_ld">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>@item.Title</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    var _lSystem = _listSidebar.Where(m => m.Code.Contains("system_")).ToList();
                    if (_lSystem.Count() > 0)
                    {
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-cogs"></i>
                                <p>
                                    Hệ thống
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @{
                                    foreach (var item in _lSystem)
                                    {
                                        <li class="nav-item">
                                            <a href="javascript:;" data-url="/@item.Area/@item.Controller/@item.Action" data-title="Hệ thống - @item.Title" class="nav-link pg_ld">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>@item.Title</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    <li class="header">Ý TƯỞNG - CÔNG VIỆC</li>
                    var _lTarget = _listSidebar.Where(m => m.Code.Contains("target_")).ToList();
                    if (_lTarget.Count() > 0)
                    {
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-fire"></i>
                                <p>
                                    Ý tưởng - Mục tiêu
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @{
                                    foreach (var item in _lTarget)
                                    {
                                        <li class="nav-item">
                                            <a href="javascript:;" data-url="/@item.Area/@item.Controller/@item.Action" data-title="Ý tưởng - Mục tiêu - @item.Title" class="nav-link pg_ld">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>@item.Title</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    var _lWorking = _listSidebar.Where(m => m.Code.Contains("working_")).ToList();
                    if (_lWorking.Count() > 0)
                    {
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-tasks"></i>
                                <p>
                                    Công việc - Nhiệm vụ
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @{
                                    foreach (var item in _lWorking)
                                    {
                                        <li class="nav-item">
                                            <a href="javascript:;" data-url="/@item.Area/@item.Controller/@item.Action" data-title="Công việc - @item.Title" class="nav-link pg_ld">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>@item.Title</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    <li class="nav-item has-treeview">
                        <a href="@Url.Action("CheckList","AdmCheckList")" class="nav-link">
                            <i class="nav-icon fa fa-check"></i>
                            <p>
                                CheckList
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                    </li>

                    <li class="header">TCCN</li>
                    var _lFinance = _listSidebar.Where(m => m.Code.Contains("money_")).ToList();
                    if (_lFinance.Count() > 0)
                    {
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-tasks"></i>
                                <p>
                                    Công việc - Nhiệm vụ
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @{
                                    foreach (var item in _lFinance)
                                    {
                                        <li class="nav-item">
                                            <a href="javascript:;" data-url="/@item.Area/@item.Controller/@item.Action" data-title="TCCN - @item.Title" class="nav-link pg_ld">
                                                <i class="fa fa-circle-o nav-icon"></i>
                                                <p>@item.Title</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</aside>
