@using TDH.Areas.Administrator.Models;
@model IdeaDetailModel
@{
    IdeaModel _idea = ViewBag.ideaModel;
    ViewBag.Title = _idea.Title;
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
@section header{
    <style>
        .nicEdit-main {
            min-height: 300px !important;
            width: 100%;
            overflow: auto !important;
        }
        .labelView {
            color: #17a2b8;
        }
        .contentIdea {
            padding: 10px;
            background-color: #c6e6dd;
        }
    </style>
}
@section action{
    @if (ViewBag.Add == true)
    {
        <li class="breadcrumb-item"><a id="newIdea" href="javascript:;" tabindex="18">Thêm ý tưởng</a></li>
    }
    <li class="breadcrumb-item"><a href="/administrator/admtarget/idea" tabindex="18">Quay lại</a></li>
}
@section script{
    <script src="/Areas/Administrator/Content/plugins/nicedit/nicEdit-latest.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        bkLib.onDomLoaded(function () {
            new nicEditor({ fullPanel: true, maxHeight: 500 }).panelInstance('Content');
        });
        $(document).on('click', '#newIdea', function (e) {
            $('#ideaModal').modal('show');
        });
    </script>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label class="labelView">Người tạo: </label>@Html.Raw(_idea.UserCreate)<br />
                        <label class="labelView">Ngày tạo: </label> @Html.Raw(_idea.CreateDateString)
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label class="labelView">Nội dung ý tưởng</label><br />
                        <div class="contentIdea">
                            @Html.Raw(_idea.Content)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div id="id1" class="col-md-4 col-xs-12 card cardIdea">
                                <div class="card-header">
                                    <h3 class="card-title">Direct Chat</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-widget="collapse" data-target="#id1">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                                                data-widget="chat-pane-toggle">
                                            <i class="fa fa-comments"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    hi<br />hi<br />hi<br />hi<br />hi<br />
                                </div>
                            </div>
                            <div id="id2" class="col-md-4 col-xs-12 card cardIdea">
                                <div class="card-header">
                                    <h3 class="card-title">Direct Chat</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-widget="collapse" data-target="#id2">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                                                data-widget="chat-pane-toggle">
                                            <i class="fa fa-comments"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    kdjaskfd
                                    <br />
                                    akdfjasdk,
                                    <br />
                                    kdjaskfd
                                    <br />
                                    akdfjasdk,
                                    <br />
                                    kdjaskfd
                                    <br />
                                    akdfjasdk,
                                    <br />
                                </div>
                            </div>
                            <div id="id3" class="col-md-4 col-xs-12 card cardIdea">
                                <div class="card-header">
                                    <h3 class="card-title">Direct Chat</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-widget="collapse" data-target="#id3">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                                                data-widget="chat-pane-toggle">
                                            <i class="fa fa-comments"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    kdjaskfd
                                    <br />
                                    akdfjasdk,
                                    <br />
                                    kdjaskfd
                                    <br />
                                    akdfjasdk,
                                    <br />
                                    kdjaskfd
                                    <br />
                                    akdfjasdk,
                                    <br />
                                </div>
                            </div>
                            <div id="id4" class="col-md-4 col-xs-12 card cardIdea">
                                <div class="card-header">
                                    <h3 class="card-title">Direct Chat</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-widget="collapse" data-target="#id4">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                                                data-widget="chat-pane-toggle">
                                            <i class="fa fa-comments"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    kdjaskfd
                                    <br />
                                    akdfjasdk,
                                    <br />
                                    kdjaskfd
                                    <br />
                                    akdfjasdk,
                                    <br />
                                    kdjaskfd
                                    <br />
                                    akdfjasdk,
                                    <br />
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ideaModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bổ sung ý tưởng</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @{
                            if (ViewBag.Add == true)
                            {
                                using (Html.BeginForm("SaveIdeaDetail", "admtarget", FormMethod.Post, new { @class = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.IdeaID)
                                    @Html.HiddenFor(m => m.Insert)
                                    @Html.HiddenFor(m => m.Title)
                                    <div class="row form-group">
                                        <div class="col-md-3 col-sm-4 col-xs-12 text-right">
                                            Triển khai  <span style="color:red; font-weight:bold;">*</span>
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-12">
                                            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @row = 10, @tabindex = "2", @style="width: 100% !important;" })
                                            @Html.ValidationMessageFor(m => m.Content)
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-12">
                                            @{
                                                <button type="submit" class="btn btn-primary" tabindex="19">Lưu</button>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteItem();">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

