@using TDH.Areas.Website.Utils;
@{
    ViewBag.Title = Message.News.LIST;
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
@section header{
    <link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.css">
    <link href="/Areas/Administrator/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Areas/Administrator/Content/plugins/datatables/dataTables.custom.css">
}
@Html.Action("modulenavigation", "base", new { @area = "administrator", @moduleCode = "website" })
<input type="hidden" id="edit" value="@Html.Raw(ViewBag.Edit)" />
<input type="hidden" id="delete" value="@Html.Raw(ViewBag.Delete)" />
<div id="toolbarSearch" class="row">
    <div class="col-md-6">
        <select id="ddlNavigationSelect" class="form-control form-control-sm">
            <option value="" selected>Tất cả chủ đề</option>
            @{
                foreach (var item in ViewBag.navigation)
                {
                    <option value="@item.ID">@item.Title</option>
                }
            }
        </select>
    </div>
    <div class="col-md-6">
        <select id="ddlCategorySelect" class="form-control form-control-sm">
            <option value="" selected>Tất cả danh mục</option>
            @{
                foreach (var item in ViewBag.cate)
                {
                    <option value="@item.ID">@item.Title</option>
                }
            }
        </select>
    </div>
</div>
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">@Message.News.LIST</h3>
        <div class="card-tools pull-right">
            @{
                if (ViewBag.Add == true)
                {
                    <a class="btn btn-box-tool" title="@Message.News.CREATE" href="/website/wnews/create">
                        <i class="fa fa-plus"></i>
                    </a>
                }
            }
        </div>
    </div>
    <div class="card-body">
        <table id="tbList" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Danh mục</th>
                    <th>Tiêu đề</th>
                    <th>Mô tả</th>
                    <th>Ngày tạo</th>
                    <th>Hiển thị</th>
                    <th>#</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@Html.Partial("~/Areas/Administrator/Views/Shared/_DeleteModal.cshtml")
@section script {
    <script src="/Areas/Administrator/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="/Areas/Administrator/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Areas/Administrator/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/Areas/Website/Content/News/index.js"></script>
}

