@using TDH.Areas.Website.Utils;
@model TDH.Model.Website.NavigationModel
@{
    ViewBag.Title = Message.Navigation.EDIT;
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}
@section header{

}
@Html.Action("modulenavigation", "base", new { @area = "administrator", @moduleCode = "website" })
<div class="card card-success">
    <div class="card-header with-border no-bg">
        <h3 class="card-title">@Message.Navigation.EDIT</h3>
        <div class="card-tools pull-right">
            @{
                if (ViewBag.View == true)
                {
                    <a class="btn btn-box-tool" href="/website/wnavigation/index" title="@Message.Navigation.LIST">
                        <i class="fa fa-long-arrow-left"></i>
                    </a>
                }
                <a class="btn btn-box-tool" href="/website/wnavigation/edit/@ViewBag.id" title="@Message.Navigation.EDIT">
                    <i class="fa fa-refresh"></i>
                </a>
            }
        </div>
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("edit", "wnavigation", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "OnFailure", OnBegin = "beginSubmit" }, new { @id = "form" }))
        {
            @Html.Partial("_Form", Model)
        }
    </div>
</div>
@section script {
    <script src="/Areas/Administrator/Content/ckeditor/ckeditor.js"></script>
    <script src="/Areas/Administrator/Content/ckfinder/ckfinder.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Areas/Website/Content/Navigation/action.js"></script>
}

